<div id="highlighted" class="border-bottom-0 bg-inverse">
  <!-- Image Banner: Use the the data-bg-img functionality to create a simple image banner Use spacer classes to make the banner larger with padding, allows for easy responsive changes too see: elements-ctas.htm To make the banner full height/screen add the attributes: data-toggle="full-height" data-offset="#header" -->
  <div
    class="bg-white overlay overlay-op-8 text-center text-lg-left pt-8 pb-7 flex-valign"
    data-bg-img="assets/img/backgrounds/keyboard-coffee.jpg"
    data-css='{"background-position": "center top","background-attachment": "fixed"}'
    data-toggle="full-height"
    data-breakpoint="992"
    data-scroll="scrollax"
    data-scrollax-y-ratio="off">
    <div class="container">
      <h4 class="text-white font-weight-normal text-uppercase mb-0" data-animate="fadeIn" data-animate-delay="0.2">
        Jay Lockridge
      </h4>
      <h2 class="display-3 text-white mb-0 text-letter-spacing-xs d-inline-block">
        <span data-animate="fadeIn" data-animate-delay="0.4">Web</span>
        <span class="font-weight-bold" data-typed='["Developer"]' data-typed-settings='{"delay":1000, "speed":200,"breakLines":false, "deleteDelay":1500}'></span>
      </h2>
      <a href="#about" data-toggle="scroll-link" class="btn btn-primary btn-icon btn-rounded ml-3 mt-4-neg d-none d-lg-inline-block" data-animate="fadeIn" data-animate-delay="0.8">
        <i class="fa fa-chevron-down"></i>
      </a>
    </div>
  </div>
</div>

<div id="content" class="p-0 clearfix">
  <div id="about" class="bg-primary text-white">
    <div class="container py-6" data-animate="fadeIn">
      <h2 class="text-white display-4 font-weight-bold mb-3 text-letter-spacing-xs">
        About
      </h2>
      <div class="row">
        <div class="col-lg-4 order-lg-2">
          <img src="/assets/img/projects/Jay_Lockridge.jpg" alt="Me" class="img-fluid rounded-circle op-7 border-white border-w-5 w-30 w-lg-80 mt-lg-4-neg d-none d-lg-block"/>
        </div>
        <div class="col-lg-8">
          <p class="lead">I am a web developer.</p>
          <p>I have always had a passion for technology.</p>
          <p class="mb-0">I am currently a developer for The Difference Engine.
          </p>
          <p></p>
        </div>
      </div>
      <hr class="border-white op-3 mt-6 mb-0"/>
      <div id="skills" class="pt-6" data-animate="fadeIn">
        <h2 class="text-white display-4 font-weight-bold mb-3 text-letter-spacing-xs">
          Skills
        </h2>
        <div class="row">
          <div class="col-lg-6">
            <div class="mb-4">
              <h5 class="d-flex mt-0 op-8">
                <i class="fa fa-fw fa-html5 mr-2"></i>
                HTML5 (70%)
              </h5>
              <div class="progress">
                <div class="progress-bar py-1 w-69 bg-primary-darkend" data-toggle="progress-bar-animated-progress" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <div class="mb-4">
              <h5 class="d-flex mt-0 op-8">
                <i class="fa fa-fw fa-css3 mr-2"></i>
                CSS3 (60%)
              </h5>
              <div class="progress">
                <div class="progress-bar py-1 w-57 bg-primary-darkend" data-toggle="progress-bar-animated-progress" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <div class="mb-4">
              <h5 class="d-flex mt-0 op-8">
                <i class="icon-ruby-on-rails fa-lg mr-2"></i>
                Ruby on Rails (83%)
              </h5>
              <div class="progress">
                <div class="progress-bar py-1 w-63 bg-primary-darkend" data-toggle="progress-bar-animated-progress" role="progressbar" aria-valuenow="83" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="mb-4">
              <h5 class="d-flex mt-0 op-8">
                <i class="fa fa-fw icon-javascript fa-lg mr-2"></i>
                JavaScript (65%)
              </h5>
              <div class="progress">
                <div class="progress-bar py-1 w-66 bg-primary-darkend" data-toggle="progress-bar-animated-progress" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <div class="mb-4">
              <h5 class="d-flex mt-0 op-8">
                <i class="fa fa-fw icon-java fa-lg mr-2"></i>
                Java (50%)
              </h5>
              <div class="progress">
                <div class="progress-bar py-1 w-51 bg-primary-darkend" data-toggle="progress-bar-animated-progress" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <div class="mb-4">
              <h5 class="d-flex mt-0 op-8">
                <i class="fa fa-fw fa-github-alt mr-2"></i>
                GitHub (90%)
              </h5>
              <div class="progress">
                <div class="progress-bar py-1 w-70 bg-primary-darkend" data-toggle="progress-bar-animated-progress" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr class="hr-primary-darkend my-0"/>
  <!-- work -->
  <div id="portfolio" class="py-6 bg-faded">
    <div class="container">
      <h2 class="text-inverse display-4 font-weight-bold text-letter-spacing-xs" data-animate="fadeIn">
        Portfolio
      </h2>

    </div>
    <div class="container">
      <div
        class="mt-4"
        data-toggle="cbp"
        data-settings='{ "layoutMode":"grid", "filters":"#portfolio-filters", "gapHorizontal": 30, "gapVertical": 30, "animationType":"fadeOutTop", "mediaQueries": [ {
"width": "800",
"cols": "3" }, {
"width": "480",
"cols": "2" }, {
"width": 0,
"cols": 1 } ] }'>

        <!--Project item 1-->
        <div class="col-lg-4 cbp-item graphics" data-animate="fadeIn" data-animate-delay="0.1">
          <div class="card bg-shadow mb-0">
            <a href="/assets/includes/portfolio-project-mini.html.erb" class="project overlay-hover cbp-caption cbp-singlePageInline">
              <%=image_tag "/assets/img/projects/Mini2.png", alt:"Project 1", class:"img-fluid"%>
              <span class="overlay-hover-content overlay-primary overlay-op-9">
                <i class="ion-android-add icon-4x text-white"></i>
              </span>
            </a>
          </div>
        </div>

        <!--Project item 2-->
        <div class="col-lg-4 cbp-item graphics" data-animate="fadeIn" data-animate-delay="0.2">
          <div class="card bg-shadow mb-0">
            <a href="/assets/includes/portfolio-project-boty.html.erb" class="project overlay-hover cbp-caption cbp-singlePageInline">
              <%=image_tag "/assets/img/projects/Boty1.png", alt:"Project 2", class:"img-fluid" %>
              <span class="overlay-hover-content overlay-primary overlay-op-9">
                <i class="ion-android-add icon-4x text-white"></i>
              </span>
            </a>
          </div>
        </div>

        <!--Project item 3-->
        <div class="col-lg-4 cbp-item identity" data-animate="fadeIn" data-animate-delay="0.3">
          <div class="card bg-shadow mb-0">
            <a href="/assets/includes/portfolio-project-LetsBet.html.erb" class="project overlay-hover cbp-caption cbp-singlePageInline">
              <%=image_tag "/assets/img/projects/Letsbet1.png", alt:"Project 3", class:"img-fluid" %>
              <span class="overlay-hover-content overlay-primary overlay-op-9">
                <i class="ion-android-add icon-4x text-white"></i>
              </span>
            </a>
          </div>
        </div>

      </div>
    </div>
  </div>
  <hr class="hr-muted my-0"/>
  <!-- experience -->
  <div id="experience" class="py-6" data-animate="fadeIn">
    <div class="container">
      <h2 class="text-inverse display-4 font-weight-bold mb-3 text-letter-spacing-xs">
        Experience
      </h2>
      <div class="owl-thumbs carousel-timeline-nav" data-toggle="owl-carousel" data-owl-carousel-thumbs="#experience-timeline" data-owl-carousel-settings='{"items":4, "nav":false, "dots":false, "merge":true, "mergeFit":true}'>
        <a class="owl-thumb text-sm text-uppercase">May 2017</a>
        <a class="owl-thumb text-sm text-uppercase" data-merge="2">June 2017</a>
        <a class="owl-thumb text-sm text-uppercase" data-merge="2">July 2017</a>
        <a class="owl-thumb text-sm text-uppercase" data-merge="2">August 2017</a>
      </div>
      <div class="owl-carousel owl-overflow owl-highlight-active owl-equalheight" id="experience-timeline" data-toggle="owl-carousel" data-owl-carousel-settings='{"items":1,"nav":true, "dots":false}'>
        <div class="p-4 p-lg-5 bg-faded border-primary border-w-3 border-top-0 border-left-0 border-right-0 mb-2 d-flex">
          <div class="row">
            <div class="col-md-2 d-none d-md-block">
              <img src="/assets/img/projects/the_difference_engine.png" alt="The difference engine" class="img-fluid"/>
            </div>
            <div class="col-md-10">
              <h5 class="text-uppercase my-0 text-primary">
                May 2017-Present
              </h5>
              <h2 class="text-inverse text-letter-spacing-sm font-weight-bold my-0">
                Ruby on Rails Developer
              </span>
            </h2>
            <p class="text-muted mb-2 text-sm">
              @
              <a href="http://www.thedifferenceengine.io/" class="font-weight-bold text-muted">The Difference Engine</a>
              <p>The company believes in transforming people and nonprofits through technology. I am currently working with a team of 11 on a web application for Back of the Yards Coffee.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="contact" class="overlay overlay-white overlay-op-8 py-6" data-animate="fadeIn" data-bg-img="/assets/img/backgrounds/map.jpg" data-css='{"background-position": "center center","background-attachment": "fixed"}'>
    <div class="container">
      <h2 class="text-inverse display-4 font-weight-bold text-letter-spacing-xs">
        Get in touch
      </h2>
      <div class="row" data-animate="fadeIn" data-animate-delay="0.1">
        <div class="col-md-6">
          <a href="https://www.facebook.com/jay.lockridge.5">
            <i class="col-lg-2 fa fa-facebook fa-5x icons"></i>
          </a>
          <a href="https://github.com/jklockri">
            <i class="col-lg-2 fa fa-github fa-5x icons"></i>
          </a>
          <a href="https://www.linkedin.com/in/jay-lockridge/">
            <i class="col-lg-2 fa fa-linkedin fa-5x icons"></i>
          </a>
        </div>
        <div class="col-md-5 offset-md-1 mt-4 mt-md-0" data-animate="fadeIn" data-animate-delay="0.5">
          <h4 class="mb-1 font-weight-bold">
            Jay Lockridge
          </h4>
          <p class="mb-1">
            <abbr title="Email">
              <i class="fa fa-envelope pr-2"></i>
            </abbr><a href="mailto:jayklockridge@gmail.com">
            Jayklockridge@gmail.com
          </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
